<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

  <style>
    .body {
      padding: 0;
      margin: 0;
    }

    .Parent {
      display: flex;
      flex-direction: row;
    }

    .child1 {
      width: 50%;
      height: 100vh;
      text-align: right;
    }

    .child2 {
      width: 50%;
      height: 100vh;
    }
  </style>

</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Shopping Planner</a>
      </h1>
      <!--<nav>
        {{#if loggedIn}}
        <a href="/views/layouts/main.handlebars">dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>-->
    <!--<nav>
      <a href="/new-user">New User</a>
    </nav>-->
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <p>Thank you for using Shopping Planner!</p>
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/shopping-list/public/javascript/logout.js"></script>
  {{/if}}
</body>

</html>
