<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping List</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Shopping Planner</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/shopping-list">shopping</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    <nav>
      <a href="/new-user">New User</a>
    </nav>
    </header>
    <main>
      <p>Welcome to Shopping Planner! This is an application <br> designed to make your shopping experience <br>smooth and efficient! <br>
      With built in ability to add, store and create <br> new shopping lists you can take<br> with you on the go; you are sure not <br> 
      forget an item on your list again. </p>
      {{{ body }}}
    </main>
    <footer>
      <p>Thank you for using Shopping Planner!</p>
    </footer>
  </div>
  {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>