<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Shopping Planner</a>
      </h1>
    <nav>
      <a href="/login">Login</a>
    </nav>
    <nav>
      <a href="/new user">New User</a>
    </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>

</body>

</html>