<ol class="lists">
    <li>
        <article class ="post">
            <div class ="title">
                <a href="{{post_url}}" target="_blank">{{title}}</a>
                <span>({{post_url}})</span>
            </div>
        </article>
    </li>
</ol>

<!--What do we want to Put here????-->
