{{!-- <h1>This is our awesome shopping list</h1> --}}

<div id="logout">
    <nav class="logout">
        <a href="/homepage">Logout</a>
    </nav>
    <!--This is where the checked or added items go-->
</div>
<section>
    <div class="Parent">
        <div class="child1">
            <center>
                <form class="new-item">
                        <h4>Shopping List</h4>
                            <div class="addItems-container">
            <h4 class="addItems-action"></h4>
            <h2 class="addItems-title"></h2>
            <form action="">
            <input type="text" name="" id="" class="addItems-input">
            <button type="submit" class="addItems-submit">submit here</button>
    </div>
        <div class="displayItems-container">
        <h4 class="displayItems-action"></h4>
        <h2 class="displayItems-title">My Shopping List</h2>
        <div class="grocery-list">
            <!--grocery item-->
            <!-- <div class="grocery-item">
                <h4 class="grocery-item__title">item</h4>
                <a href="#" class="grocery-item__link">
                    <i class="far fa-trash-alt"></i>
                </a> -->
            </div>

        </form>
        </div>
            </div>
            <!-- end grocery item -->
            <button type="submit" class="displayItems-clear">clear items</button>
        </div>


        <div class="child2">
            <center>
                <form class="previousItem">
                    <div id="previous">
                        <h4>Previous Items</h4>
                        <!--Prior list from login-->
                    </div>
                </form>
            </center>
        </div>
    </div>
</section>
<script src="/javascript/add-item.js"></script>