<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    {{!-- <nav> --}}
      <a href="/signin"><button="submit">Submit</a></button>
      {{!--
    </nav> --}}
  </div>
</form>

<script src="/shopping-list/public/javascript/login.js"></script>