body {
    /* background-image: linear-gradient(45deg, #ddf8b9 0%, #96e6fc 52%, #8effbf 90%); */
    background-color: rgba(6, 173, 173, 0.199);


}

header {
    background-color: rgba(0, 128, 128, 0.452);
}

h1 {
    text-align: center;
    /* text-shadow: rgb(88, 88, 102); */
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

}



nav {
    float: right;
    color: black;
    background-color: rgba(0, 128, 128, 0.027);
    padding-bottom: 15px;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
}

button {
    background-color:rgba(6, 252, 252, 0.925);
    color:rgb(88, 88, 102);
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
}

footer {
    border-top: 1px solid rgb(95, 78, 248);
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    color:rgba(0, 128, 128, 0.678);
}

main p {
    padding-left: 460px;
    padding-top: 100px;
}

.new-item {
    border-top: 5px;
    border-left: 5px;
    border-bottom: 5px;
    border-right: 1px;
    border: inline;
    border: solid;
    border-color: rgba(3, 117, 117, 0.925);
}

#btn {
    background-color:rgba(6, 247, 247, 0.678);
    color: white;
}

.logout {
    /* border: 5px; */
    /* border: inset; */
    /* border-color:rgba(0, 128, 128, 0.452); */
    /* background-color:rgba(6, 252, 252, 0.925); */


}

.previousItem {
    border-top: 5px;
    border-right: 5px;
    border-bottom: 5px;
    border-left: 1px;
    border: inline;
    border: solid;
    border-color: rgba(3, 117, 117, 0.925);
}

